<h1>All Articles</h1>
<p> <%= link_to "Browse By Tags", tags_path %> </p>
</br>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new article", new_article_path, class: 'new_article'  %>