    <% @article_months.sort.each do |pub, articles| %>
      <h3><%= pub.strftime('%B') %></h3>
      <% for article in articles %>
        <%= link_to "#{article.title}", article_path(article) %>
      <% end %>
    <% end %>